// Esquema de colores

// primer grupo
$albis: #fff;
$platinum: #e6e7e7;
$gris-suave: #d1d1d1;

// segundo grupo
$fuzzy-wuzzy: #e56353;
$ruddy-pink: #d76c69;
$rosa-hispano: #ecbcba;

// tercer grupo
$eerie-black: #121619;
$raisin-black: #222323;
$nickel: #6c6e70;

// ------------------------

// Tipografías: familia, pesos y tamaños

// Familias
$roboto: 'Roboto', sans-serif;
$playfair: 'Playfair Display', serif;

// Peso de las fuentes
$regular: 400;
$light: 300;
$black: 900;

// Tamaño
$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;



